@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes dropIn {
    0% {
      opacity: 0.5;
      transform: translateY(-10px) scaleY(0.8);
    }
    50% {
      opacity: 0.9;
      transform: translateY(6px) scaleY(1.1);
    }
    75% {
      transform: translateY(-3px);
    }
    100% {
      opacity: 1;
      transform: translateY(0) scaleY(1);
    }
  }

  @keyframes bounce-small {
    0%, 100% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(-2px);
    }
  }

  .animate-bounce-small {
    animation: bounce-small 1.5s infinite;
  }